/*Fontes*/
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/*Estilos*/
@import url('reset.css');
@import url('Styles/header.css');
@import url('Styles/footer.css');

/*Seletor global*/
*{
    box-sizing: border-box;
}

/*Variáveis css*/
:root{
    --fontKrona: "Krona One", sans-serif;
    --fontMontserrat: "Montserrat", sans-serif;
    --cor1: #000000;
    --cor2: #f5f5f5;
}

/*Regras gerais*/
body{
    margin: 0;
    background-color: var(--cor1);
}
a{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}
a img{
    width: 5%;
}
a,p{
    font-size: 1rem;
    font-family: var(--fontMontserrat);
}
h1,h2,h3,h4,h5,h6{
    font-family: var(--fontKrona);
}

@media screen and (min-width: 600px){
    a img{
        width: 10%;
    }
}

@media screen and (min-width: 1200px){
    a,p{
        font-size: 1rem;
    }
}