/*Fontes*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/*Estilos*/
@import url(Styles/universais.css);
@import url(Styles/header.css);
@import url(Styles/main.css);
@import url(Styles/footer.css);

/*Variáveis*/
:root{
    --fontTitulo: "Montserrat", sans-serif;
    --fontTexto: "Raleway", sans-serif;
    --fontEspecial: "Open Sans", sans-serif;;
    --c1: #000000;
    --c2: #2ae9e9;
    --c3: #ffffff;
    --c4: #0000008c;
    --c5: #008888;
    --c6: #8d8d8d;
}

/*Regras*/
*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
h1, h2, h3, h4, h5, h6, button{
    font-family: var(--fontTitulo);
    margin: 0;
}
p, i, li{
    font-family: var(--fontTexto);
}
span, a{
    font-family: var(--fontEspecial);
}
a{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}
a:hover{
    text-decoration: underline;
}
a img{
    width: 1.5em;
}