/*Fontes*/
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/*Estilizadores*/
@import url('Styles/header.css');
@import url('Styles/main.css');
@import url('Styles/mainInfo.css');

/*Regras*/
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    background-color: var(--cor1);
}

/*Variáveis css*/
:root{
    --fontKrona: "Krona One", sans-serif;
    --fontMontserrat: "Montserrat", sans-serif;
    --cor1: #1f1f1f;
    --cor2: #000000;
    --cor3: #ffffff;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
    font-family: var(--fontKrona);
    color: var(--cor3);
    text-shadow: 0px 0px 10px var(--cor2);
}
a{
    text-decoration: none;
}

/*Curingas*/
.btnAbrirLista:checked ~ .listaEscondida{
    display: flex;
}