/*Carrossel híbrido, carrossel para celulares e pula linhas para tablets++*/
.carrossel-hibrido{
    overflow-x: auto;
    display: flex;
    padding: 1em;
    gap: 2em;
}

/*Tablets++*/
@media screen and (min-width: 724px)
{

    .carrossel-hibrido{
        justify-content: center;
        flex-flow: row wrap;
    }

}