footer{
    background-color: var(--cor1);
    padding: 5em 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--cor2);
    gap: 3em;
}
footer h2{
    font-size: 2rem;
}
footer p{
    text-align: center;
    width: 85%;
}
