/*Footer*/
footer{
    background-color: var(--c2);
    color: var(--c1);
    text-align: center;
    padding: 2em 1em;
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
}
footer h2{
    padding: 0.5em;
    border: 2px solid var(--c1);
    border-radius: 10px;
    width: 10em;
}