.header1{
    background-color: var(--principalEscura);
    color: var(--secundariaClara);
    padding: 2em 1em;
    text-align: center;
}
.header1 h2{
    margin: 0;
}
.header1 img{
    width: 20em;
}