.inicio{
    height: 80vh;
    background-image: url(../Assets/Imagens/entrada.jpg);
    background-size: cover;
    background-position: top;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.inicio h2{
    color: var(--cor2);
    text-align: center;
    padding: 1em;
}