/*Main*/
main{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
main h2{
    width: 100%;
    padding: 1em 2em;
    text-align: center;
}

/*Imagem do globo futuro*/
.globoFuturo{
    background-image: url(../Assets/Images/globoFuturo.jpg);
}

/*Imagem do espeto`s bar*/
.espetosBar{
    background-image: url(../Assets/Images/espetosBar.jpg);
}

/*Imagem do empório do açai*/
.emporioAcai{
    background-image: url(../Assets/Images/emporioAcai.jpg);
}

/*Líder gás & água*/
.liderGasAgua{
    background-image: url(../Assets/Images/liderGasAgua.jpg);
}

/*Horlando Bessa*/
.horlando{
    background-image: url(../Assets/Images/horlando.jpg);
}

/*Atacado mirim*/
.mirim{
    background-image: url(../Assets/Images/mirim.jpg);
}

/*Instituição amiga*/
.amiga{
    background-image: url(../Assets/Images/amiga.png);
}