main{
    margin-top: 10%;
}
.mainTitulo{
    font-weight: 500;
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
}
.mainTitulo span{
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--cor3);
    border: 2px solid;
    border-radius: 5px;
    padding: 0.3em;
}
.mainEntrada{
    background-image: url(../Assets/Imagens/entrada.jpg);
    background-size: cover;
    background-position: center;
    height: 125vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mainConteudo{
    padding: 1em;
}
.mainConteudo p{
    font-family: var(--fontMontserrat);
    padding: 2em 0;
    font-weight: 600;
    line-height: 1.5em;
}
.mainConteudo p span{
    color: var(--cor3);
}
.mainLista{
    display: flex;
    flex-direction: column;
    font-family: var(--fontMontserrat);
    font-weight: 750;
    color: var(--cor3);
    padding: 1em;
    gap: 1.5em;
    margin-top: 1em;
}
main h2{
    margin-top: 1.5em;
}
.mainLista li{
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 1em;
}
.mainLista li img{
    width: 10%;
}

@media screen and (min-width: 600px){
    .mainRecepcao{
        display: flex;
    }
    .mainEntrada{
        width: 60%;
        height: 40vw;
        border-radius: 0 30% 30% 0;
        border: 2px solid var(--cor3);
        border-left: none;
    }
    .mainTitulo{
        width: 40%;
        font-size: 1.5rem;
        text-align: center;
    }
    .mainConteudo h2{
        font-size: 1.5rem;
    }
    .mainConteudo p{
        font-size: 1.1rem;
    }
    .mainLista{
        flex-flow: row wrap;
        align-items: center;
    }
    .mainLista li{
        width: 45%;
    }
}
@media screen and (min-width: 1200px){
    .mainLista li{
        width: 30%;
    }
}