.ofertas{
    display: flex;
    flex-direction: column;
    gap: 2em;
}
.oferta{
    background-color: var(--cor4);
    box-shadow: 10px 10px 10px var(--cor5);
    border-radius: 10px;
    padding-bottom: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.oferta a{
    color: var(--cor3);
    border: 2px solid var(--cor3);
    padding: 0.5em;
    border-radius: 10px;
    font-weight: 600;
}
.oferta a:hover{
    transition: 1s;
    box-shadow: 0px 0px 10px var(--cor3);
}
.oferta h3{
    border-radius: 10px 10px 0 0;
    text-align: center;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.ofertaPersonalizada h3 {
    flex-direction: row;
    align-items: center;
}
.ofertaPersonalizada h3 img{
    width: 20%;
}
.ofertaPadrao h3{
   color: var(--cor2);
   background-color: var(--cor1);
   width: 100%;
}
.ofertaPadrao h3 span{
    color: var(--cor3);
    font-size: 1.2rem;
    font-weight: 550;
}
.ofertaPersonalizada{
    background-color: var(--cor1);
    color: var(--cor2);
    text-align: center;
    padding: 0 1em 1em 1em;
    
}
.ofertaPersonalizada p span{
    color: var(--cor3);
}
.ofertaPersonalizada h3{
    color: var(--cor3);
}

@media screen and (min-width: 1200px){
    .ofertas h2{
        width: 100%;
    }
    .ofertas{
        flex-flow: row wrap;
        gap: 3em;
    }
    .oferta{
        width: 45%;
        height: 35vw;
    }
}