.parceiros{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    gap: 3em;
}
.parceiros li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.parceiros li img{
    width: 25%;
    border-radius: 10px;
}
.parceiro{
    padding: 1em;
    text-align: center;
}

@media screen and (min-width: 600px){
    .parceiros{
        flex-flow: row wrap;
    }
    .parceiros li{
        width: 45%;
        flex-direction: row;
        align-items: flex-start;
        margin-bottom: 3em;
    }
    .parceiros li img{
        width: 15%;
    }
    .parceiro{
        width: 70%;
    }
}

@media screen and (min-width: 1200px){
    .parceiros li{
        width: 30%;
    }
}