.botoesIsolados{
    display: flex;
    flex-direction: column;
    padding: 2em 1em;
    gap: 2em;
    align-items: center;
    background-color: var(--principalEscura);
}
.botoesIsolados a{
    transition: 1s;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    width: 15em;
    padding: 1em;
    border-radius: 10px;
    color: var(--secundariaClara);
    border: 2px solid var(--secundariaEscura);
}
.botoesIsolados a img{
    width: 1.5em;
}

.botoesIsolados a:hover{
    transition: 1s;
    color: var(--principalEscura);
    box-shadow: inset 0 -100px 0 0 var(--secundariaEscura);
}
.botoesIsolados a:active{
    transform: scale(0.9);
}